<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tieda.alarm.mapper.dicRack.DicRackMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tieda.alarm.entity.dicRack.DicRack">
        <id column="ID" property="id"/>
        <result column="NAME" property="name"/>
        <result column="CODE" property="code"/>
    </resultMap>


    <!-- 根据主键查询对象 -->
    <select id="getDicRackById" parameterType="long" resultMap="BaseResultMap">
        select  ID,  NAME,  CODE         from DIC_RACK
                        where ID = #{id}
        </select>

    <!-- 多条件参数查询 -->
    <select id="getDicRackList" parameterType="map" resultMap="BaseResultMap">
        select ID, NAME, CODE from DIC_RACK
        <where>
            <if test="id != null and id != ''">
                and ID = #{id}
            </if>
            <if test="name != null and name != ''">
                and NAME = #{name}
            </if>
            <if test="code != null and code != ''">
                and CODE = #{code}
            </if>
        </where>
    </select>

    <!-- 添加 -->
    <insert id="addDicRack" parameterType="com.tieda.alarm.entity.dicRack.DicRack">
        insert into DIC_RACK (ID, NAME, CODE )
        values (                #{id,jdbcType = VARCHAR},                        #{name,jdbcType = VARCHAR},                        #{code,jdbcType = VARCHAR}                )
    </insert>

    <!-- 批量添加 -->
    <insert id="addBatchDicRack" parameterType="list">
        insert into DIC_RACK (ID, NAME, CODE ) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id}, #{item.name}, #{item.code} )
        </foreach>
    </insert>

    <!-- 更新 -->
    <update id="updateDicRack" parameterType="com.tieda.alarm.entity.dicRack.DicRack">
        update DIC_RACK
        <set>
            <if test="name != null and name != ''">
                NAME = #{name},
            </if>
            <if test="code != null and code != ''">
                CODE = #{code}
            </if>
        </set>
        where ID = #{id}
    </update>

    <!-- 批量更新 -->
    <update id="updateBathDicRack" parameterType="list">
        <foreach collection="list" item="item" index="index" open="" close="" separator=";">
            update DIC_RACK
            <set>
                NAME = #{item.name}, CODE = #{item.code}
            </set>
            where

            ID = #{item.id}


        </foreach>

    </update>

    <!-- 根据主键删除 -->
    <delete id="deleteDicRackById" parameterType="long">
        delete from DIC_RACK

        where

        
        
            ID = #{id}

        
    
        
    
        
    
    </delete>

    <!-- 批量删除 -->
    <delete id="deleteBatchDicRack" parameterType="list">
        delete from DIC_RACK


        where ID in

        <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
            #{item}
        </foreach>


    </delete>


</mapper>
